$main-color:#333;
$main-color-light:#555;
$background-color:#f8f8f8;
$yellow-color:#e0a700;
$yellow-color1:#f0b937;
$yellow-color2:#fee257;
$yellow-color3:#f3dd1b;
$yellow-color4:#fdee1c;
$green-color1:#a7cc50;
$green-color2:#9dbf4b;
$green-color3:#367c2b;